<center> <span style="color:indigo">Probabilidad y estadística 2</span> </center> 

<center>
<img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Centro_Universitario_del_Guadalajara_Logo.png" alt="Drawing" style="width: 600px;"/>
</center>

<center> <span style="color:DarkBlue">  Proyecto Lopez Matebros </span>  </center>
<center> <span style="color:Blue"> James Kristof Ubiarco Rodriguez </span>  </center>

In [1]:
# Importación de librerías
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
mainpath = "./data/"
filename = "siniestralimap-2025-10-30.csv"
fullpath = os.path.join(mainpath,filename)

# Carga de datos, especificando encoding y manejo de errores
df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')
df_lopez.head()

/tmp/ipykernel_54545/939571325.py:6: ParserWarning: Skipping line 30259: ',' expected after '"'

  df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')
/tmp/ipykernel_54545/939571325.py:6: ParserWarning: Skipping line 30260: ',' expected after '"'

  df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')
/tmp/ipykernel_54545/939571325.py:6: ParserWarning: Skipping line 30267: ',' expected after '"'

  df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')
/tmp/ipykernel_54545/939571325.py:6: ParserWarning: Skipping line 30268: ',' expected after '"'

  df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')
/tmp/ipykernel_54545/939571325.py:6: ParserWarning: Skipping line 30302: ',' expected after '"'

  df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')
/tmp/ipykernel_54545/939571325.py:6: ParserWarning: Skipping line 30303: ',' expected after '"'

  df_lopez = pd.read_csv(fullpath, encoding='latin1', sep=',', quotechar='"', engine='python', on_bad_lines='warn')

,Unnamed: 0,consecutivo,Id,fecha,anio,mes,dia,dia_sem,rango_hora,mun,...,calle_2,x,y,tipo_siniestro,condicion_usuario,tipo_usuario,ibaen_atro,sexo,rango_edad,consecuencia
0,1,1,2015-01-01-1-EHGR-20:00 A 21:59,2015-01-01,2015,Enero,1,jueves,20:00 a 20:59,Guadalajara,...,Rio Rhin,-103.33658,20.653207,Colision Con Peaton/Atropellamiento,Conductor,Motociclista,Motocicleta,Hombre,No disponible,Ileso
1,2,2,2015-01-01-1-EHGR-20:00 A 21:59,2015-01-01,2015,Enero,1,jueves,20:00 a 20:59,Guadalajara,...,Rio Rhin,-103.33658,20.653207,Colision Con Peaton/Atropellamiento,Peatón,Peaton,Motocicleta,Mujer,28-37,Lesionado
2,3,3,2015-01-01-620850-SISCAV-08:00 A 09:59,2015-01-01,2015,Enero,1,jueves,09:00 a 09:59,San Pedro Tlaquepaque,...,Tlaquepaque,NaN,NaN,Colision Con Objeto Fijo,Conductor,Vehiculo Particular,Automovil,Hombre,18-27,Ileso
3,4,4,2015-01-01-620850-SISCAV-08:00 A 09:59,2015-01-01,2015,Enero,1,jueves,09:00 a 09:59,San Pedro Tlaquepaque,...,Tlaquepaque,NaN,NaN,Colision Con Objeto Fijo,Pasajero,Vehiculo Particular,Automovil,Mujer,No disponible,Lesionado
4,5,5,2015-01-01-622260-SISCAV-04:00 A 05:59,2015-01-01,2015,Enero,1,jueves,05:00 a 05:59,Guadalajara,...,Plutarco Elias Calles,-103.29641,20.670602,Colision Con Objeto Fijo,Conductor,Transporte Empresarial o de Personal,Camioneta De Pasajeros,Hombre,38-47,Fallecido

In [3]:
# Información básica del DataFrame
df_lopez.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48690 entries, 0 to 48689
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         48690 non-null  int64
 1   consecutivo        48690 non-null  int64
 2   Id                 48690 non-null  object
 3   fecha              48690 non-null  object
 4   anio               48690 non-null  int64
 5   mes                48690 non-null  object
 6   dia                48690 non-null  object
 7   dia_sem            48690 non-null  object
 8   rango_hora         48690 non-null  object
 9   mun                48690 non-null  object
 10  calle_1            48690 non-null  object
 11  calle_2            48690 non-null  object
 12  x                  44275 non-null  float64
 13  y                  44275 non-null  float64
 14  tipo_siniestro     48690 non-null  object
 15  condicion_usuario  48690 non-null  object
 16  tipo_usuario       48690 non-null  object
 17  ibaen_atro         48690 non-null  object
 18  sexo               48690 non-null  object
 19  rango_edad         48690 non-null  object
 20  consecuencia       48690 non-null  object
dtypes: float64(2), int64(3), object(16)
memory usage: 7.8+ MB

In [4]:
# Identificación de columnas categóricas y numéricas
cat_cols = df_lopez.select_dtypes(include="object").columns.to_list()
num_cols = df_lopez.select_dtypes(include="number").columns.to_list()
print("Categorical columns:", cat_cols)
print("Numerical columns:", num_cols)

Categorical columns: ['Id', 'fecha', 'mes', 'dia', 'dia_sem', 'rango_hora', 'mun', 'calle_1', 'calle_2', 'tipo_siniestro', 'condicion_usuario', 'tipo_usuario', 'ibaen_atro', 'sexo', 'rango_edad', 'consecuencia']
Numerical columns: ['Unnamed: 0', 'consecutivo', 'anio', 'x', 'y']

In [5]:
# Análisis de valores únicos en columnas categóricas
for i in cat_cols:
    print(f"Valores únicos en '{i}':")
    print(df_lopez[i].unique())

Valores únicos en 'Id':
['2015-01-01-1-EHGR-20:00 A 21:59'
 '2015-01-01-620850-SISCAV-08:00 A 09:59'
 '2015-01-01-622260-SISCAV-04:00 A 05:59' ...
 '2025-06-30-0041-EHGNR-00:00 A 01:59'
 '2025-06-30-1304-EHGNR-16:00 A 17:59'
 '2025-06-30-23-TRANSPORTE PUBLICO-08:00 A 09:59']
Valores únicos en 'fecha':
['2015-01-01' '2015-01-02' '2015-01-03' ... '2025-06-28' '2025-06-29'
 '2025-06-30']
Valores únicos en 'mes':
['Enero' 'Febrero' 'Marzo' 'Abril' 'Mayo' 'Junio' 'Julio' 'Agosto'
 'Septiembre' 'Octubre' 'Noviembre' 'Diciembre']
Valores únicos en 'dia':
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' 'Sin datos']
Valores únicos en 'dia_sem':
['jueves' 'viernes' 'sábado' 'domingo' 'lunes' 'martes' 'miércoles'
 'Sin datos']
Valores únicos en 'rango_hora':
['20:00 a 20:59' '09:00 a 09:59' '05:00 a 05:59' '12:00 a 12:59'
 '04:00 a 04:59' '18:00 a 18:59' '14:00 a 14:59' '08:00 a 08:59'
 '19:00 a 19:59' '16:00 a 16:59' '22:00 a 22:59' '01:00 a 01:59'
 '15:00 a 15:59' '23:00 a 23:59' '10:00 a 10:59' '11:00 a 11:59'
 '13:00 a 13:59' '03:00 a 03:59' '07:00 a 07:59' '06:00 a 06:59'
 '17:00 a 17:59' '21:00 a 21:59' '02:00 a 02:59' '00:00 a 00:59'
 'No especificado']
Valores únicos en 'mun':
['Guadalajara' 'San Pedro Tlaquepaque' 'Zapopan' 'Tlajomulco de Zúñiga'
 'Tonalá' 'Sin datos' 'El Salto']
Valores únicos en 'calle_1':
['Del Ejercito Calz' 'Lazaro Cardenas Calz' 'Industria' ...
 'Adolfo Lopez Mateos' 'Paseo De La Nobleza' 'Circuito Metropolitano']
Valores únicos en 'calle_2':
['Rio Rhin' 'Tlaquepaque' 'Plutarco Elias Calles' ... 'Paseo Del Marques'
 'Crecencio Garcia' 'Manuel Avila Camacho']
Valores únicos en 'tipo_siniestro':
['Colision Con Peaton/Atropellamiento' 'Colision Con Objeto Fijo'
 'Colision Entre Dos o Mas Vehiculos' 'Otro' 'Caida Del Vehiculo'
 'Caida Al Interior' 'Colision Con Vehiculo Estacionado' 'Volcadura'
 'Sin datos' 'Colision Con Obstaculo No Fijo']
Valores únicos en 'condicion_usuario':
['Conductor' 'Peatón' 'Pasajero' 'Sin datos']
Valores únicos en 'tipo_usuario':
['Motociclista' 'Peaton' 'Vehiculo Particular'
 'Transporte Empresarial o de Personal' 'Transporte de Carga'
 'Transporte Publico de Pasajeros' 'Ciclista' 'Sin datos' 'Otro Vehiculo'
 'Tren Ligero']
Valores únicos en 'ibaen_atro':
['Motocicleta' 'Automovil' 'Camioneta De Pasajeros' 'Camioneta De Carga'
 'Transporte Publico' 'Bicicleta' 'Sin datos' 'Ferrocarril'
 'Camion De Carga' 'Taxi' 'Otro' 'Trailer' 'Tren Ligero' 'Ambulancia'
 'Transporte De Personal' 'Foraneo' 'Transporte Escolar' 'Motocarro']
Valores únicos en 'sexo':
['Hombre' 'Mujer' 'No especificado']
Valores únicos en 'rango_edad':
['No disponible' '28-37' '18-27' '38-47' '0-17' '48-59' '60+']
Valores únicos en 'consecuencia':
['Ileso' 'Lesionado' 'Fallecido']

In [ ]:
# Eliminación de columnas innecesarias
cols_a_eliminar = ['Unnamed: 0', 'consecutivo']
df_lopez = df_lopez.drop(columns=cols_a_eliminar)
print("Columnas eliminadas:", cols_a_eliminar)

Columnas eliminadas: ['Unnamed: 0', 'consecutivo']

In [7]:
df_lopez.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48690 entries, 0 to 48689
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 48690 non-null  object
 1   fecha              48690 non-null  object
 2   anio               48690 non-null  int64
 3   mes                48690 non-null  object
 4   dia                48690 non-null  object
 5   dia_sem            48690 non-null  object
 6   rango_hora         48690 non-null  object
 7   mun                48690 non-null  object
 8   calle_1            48690 non-null  object
 9   calle_2            48690 non-null  object
 10  x                  44275 non-null  float64
 11  y                  44275 non-null  float64
 12  tipo_siniestro     48690 non-null  object
 13  condicion_usuario  48690 non-null  object
 14  tipo_usuario       48690 non-null  object
 15  ibaen_atro         48690 non-null  object
 16  sexo               48690 non-null  object
 17  rango_edad         48690 non-null  object
 18  consecuencia       48690 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 7.1+ MB

In [ ]:
# Reemplazo de valores nulos específicos por NaN
valores_nulos = ['No disponible', 'Sin datos', 'No especificado']
df_lopez.replace(valores_nulos, np.nan, inplace=True)
print(f"Valores nulos reemplazados: {valores_nulos}")

Valores nulos reemplazados: ['No disponible', 'Sin datos', 'No especificado']

In [12]:
df_lopez.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48690 entries, 0 to 48689
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 48690 non-null  object
 1   fecha              48690 non-null  datetime64[ns]
 2   anio               48690 non-null  int64
 3   mes                48690 non-null  object
 4   dia                48688 non-null  float64
 5   dia_sem            48688 non-null  object
 6   rango_hora         48555 non-null  object
 7   mun                48673 non-null  object
 8   calle_1            48690 non-null  object
 9   calle_2            48690 non-null  object
 10  x                  44275 non-null  float64
 11  y                  44275 non-null  float64
 12  tipo_siniestro     48680 non-null  object
 13  condicion_usuario  48687 non-null  object
 14  tipo_usuario       47325 non-null  object
 15  ibaen_atro         46784 non-null  object
 16  sexo               40627 non-null  object
 17  rango_edad         34211 non-null  object
 18  consecuencia       48690 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(14)
memory usage: 7.1+ MB

In [13]:
# Análisis de valores únicos en columnas categóricas
for i in cat_cols:
    print(f"Valores únicos en '{i}':")
    print(df_lopez[i].unique())

Valores únicos en 'Id':
['2015-01-01-1-EHGR-20:00 A 21:59'
 '2015-01-01-620850-SISCAV-08:00 A 09:59'
 '2015-01-01-622260-SISCAV-04:00 A 05:59' ...
 '2025-06-30-0041-EHGNR-00:00 A 01:59'
 '2025-06-30-1304-EHGNR-16:00 A 17:59'
 '2025-06-30-23-TRANSPORTE PUBLICO-08:00 A 09:59']
Valores únicos en 'fecha':
<DatetimeArray>
['2015-01-01 00:00:00', '2015-01-02 00:00:00', '2015-01-03 00:00:00',
 '2015-01-04 00:00:00', '2015-01-05 00:00:00', '2015-01-06 00:00:00',
 '2015-01-07 00:00:00', '2015-01-08 00:00:00', '2015-01-09 00:00:00',
 '2015-01-10 00:00:00',
 ...
 '2025-06-21 00:00:00', '2025-06-22 00:00:00', '2025-06-23 00:00:00',
 '2025-06-24 00:00:00', '2025-06-25 00:00:00', '2025-06-26 00:00:00',
 '2025-06-27 00:00:00', '2025-06-28 00:00:00', '2025-06-29 00:00:00',
 '2025-06-30 00:00:00']
Length: 3726, dtype: datetime64[ns]
Valores únicos en 'mes':
['Enero' 'Febrero' 'Marzo' 'Abril' 'Mayo' 'Junio' 'Julio' 'Agosto'
 'Septiembre' 'Octubre' 'Noviembre' 'Diciembre']
Valores únicos en 'dia':
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. nan]
Valores únicos en 'dia_sem':
['jueves' 'viernes' 'sábado' 'domingo' 'lunes' 'martes' 'miércoles' nan]
Valores únicos en 'rango_hora':
['20:00 a 20:59' '09:00 a 09:59' '05:00 a 05:59' '12:00 a 12:59'
 '04:00 a 04:59' '18:00 a 18:59' '14:00 a 14:59' '08:00 a 08:59'
 '19:00 a 19:59' '16:00 a 16:59' '22:00 a 22:59' '01:00 a 01:59'
 '15:00 a 15:59' '23:00 a 23:59' '10:00 a 10:59' '11:00 a 11:59'
 '13:00 a 13:59' '03:00 a 03:59' '07:00 a 07:59' '06:00 a 06:59'
 '17:00 a 17:59' '21:00 a 21:59' '02:00 a 02:59' '00:00 a 00:59' nan]
Valores únicos en 'mun':
['Guadalajara' 'San Pedro Tlaquepaque' 'Zapopan' 'Tlajomulco de Zúñiga'
 'Tonalá' nan 'El Salto']
Valores únicos en 'calle_1':
['Del Ejercito Calz' 'Lazaro Cardenas Calz' 'Industria' ...
 'Adolfo Lopez Mateos' 'Paseo De La Nobleza' 'Circuito Metropolitano']
Valores únicos en 'calle_2':
['Rio Rhin' 'Tlaquepaque' 'Plutarco Elias Calles' ... 'Paseo Del Marques'
 'Crecencio Garcia' 'Manuel Avila Camacho']
Valores únicos en 'tipo_siniestro':
['Colision Con Peaton/Atropellamiento' 'Colision Con Objeto Fijo'
 'Colision Entre Dos o Mas Vehiculos' 'Otro' 'Caida Del Vehiculo'
 'Caida Al Interior' 'Colision Con Vehiculo Estacionado' 'Volcadura' nan
 'Colision Con Obstaculo No Fijo']
Valores únicos en 'condicion_usuario':
['Conductor' 'Peatón' 'Pasajero' nan]
Valores únicos en 'tipo_usuario':
['Motociclista' 'Peaton' 'Vehiculo Particular'
 'Transporte Empresarial o de Personal' 'Transporte de Carga'
 'Transporte Publico de Pasajeros' 'Ciclista' nan 'Otro Vehiculo'
 'Tren Ligero']
Valores únicos en 'ibaen_atro':
['Motocicleta' 'Automovil' 'Camioneta De Pasajeros' 'Camioneta De Carga'
 'Transporte Publico' 'Bicicleta' nan 'Ferrocarril' 'Camion De Carga'
 'Taxi' 'Otro' 'Trailer' 'Tren Ligero' 'Ambulancia'
 'Transporte De Personal' 'Foraneo' 'Transporte Escolar' 'Motocarro']
Valores únicos en 'sexo':
['Hombre' 'Mujer' nan]
Valores únicos en 'rango_edad':
[nan '28-37' '18-27' '38-47' '0-17' '48-59' '60+']
Valores únicos en 'consecuencia':
['Ileso' 'Lesionado' 'Fallecido']

In [11]:
df_lopez['fecha'] = pd.to_datetime(df_lopez['fecha'], errors='coerce')
df_lopez['dia'] = pd.to_numeric(df_lopez['dia'], errors='coerce')

In [14]:
cat_cols = df_lopez.select_dtypes(include="object").columns.to_list()

In [15]:
cat_cols

['Id',
 'mes',
 'dia_sem',
 'rango_hora',
 'mun',
 'calle_1',
 'calle_2',
 'tipo_siniestro',
 'condicion_usuario',
 'tipo_usuario',
 'ibaen_atro',
 'sexo',
 'rango_edad',
 'consecuencia']

In [16]:
termino_busqueda = "LOPEZ MATEOS"

mask_c1 = df_lopez['calle_1'].str.contains(termino_busqueda, case=False, na=False)
mask_c2 = df_lopez['calle_2'].str.contains(termino_busqueda, case=False, na=False)

df_proyecto_lopez = df_lopez[
    (df_lopez['calle_1'].str.contains(termino_busqueda, case=False, na=False)) |
    (df_lopez['calle_2'].str.contains(termino_busqueda, case=False, na=False))
].copy()

print(f"Total de registros en la base general: {len(df_lopez)}")
print(f"Registros encontrados para '{termino_busqueda}': {len(df_proyecto_lopez)}")

if len(df_proyecto_lopez) > 0:
    print("\n--- Muestra de datos del proyecto ('df_proyecto_lopez') ---")
    print(df_proyecto_lopez.head())
else:
    print("\nADVERTENCIA: No se encontraron registros.")

Total de registros en la base general: 48690
Registros encontrados para 'LOPEZ MATEOS': 1088

--- Muestra de datos del proyecto ('df_proyecto_lopez') ---
                                         Id      fecha  anio    mes   dia  \
141         2015-01-08-6-EHGR-12:00 A 13:59 2015-01-08  2015  Enero   8.0
142         2015-01-08-6-EHGR-12:00 A 13:59 2015-01-08  2015  Enero   8.0
444  2015-01-23-634227-SISCAV-14:00 A 15:59 2015-01-23  2015  Enero  23.0
445  2015-01-23-634227-SISCAV-14:00 A 15:59 2015-01-23  2015  Enero  23.0
446  2015-01-23-634227-SISCAV-14:00 A 15:59 2015-01-23  2015  Enero  23.0

     dia_sem     rango_hora      mun          calle_1          calle_2  \
141   jueves  12:00 a 12:59  Zapopan       Periferico  Lopez Mateos Av
142   jueves  12:00 a 12:59  Zapopan       Periferico  Lopez Mateos Av
444  viernes  14:00 a 14:59  Zapopan  Lopez Mateos Av  Galileo Galilei
445  viernes  14:00 a 14:59  Zapopan  Lopez Mateos Av  Galileo Galilei
446  viernes  14:00 a 14:59  Zapopan  Lopez Mateos Av  Galileo Galilei

              x          y                       tipo_siniestro  \
141 -103.426913  20.614667  Colision Con Peaton/Atropellamiento
142 -103.426913  20.614667  Colision Con Peaton/Atropellamiento
444 -103.419758  20.625434   Colision Entre Dos o Mas Vehiculos
445 -103.419758  20.625434   Colision Entre Dos o Mas Vehiculos
446 -103.419758  20.625434   Colision Entre Dos o Mas Vehiculos

    condicion_usuario                          tipo_usuario  \
141         Conductor                   Vehiculo Particular
142            Peatón                                Peaton
444         Conductor                   Vehiculo Particular
445         Conductor                   Vehiculo Particular
446         Conductor  Transporte Empresarial o de Personal

                 ibaen_atro    sexo rango_edad consecuencia
141               Automovil  Hombre      18-27        Ileso
142               Automovil  Hombre        NaN    Lesionado
444               Automovil  Hombre      28-37    Lesionado
445               Automovil  Hombre        60+        Ileso
446  Camioneta De Pasajeros  Hombre      38-47        Ileso